default:
  image: gitlab.virtualcitysystems.de:5050/vcsuite/devops/gitlabrunner/node:14

variables:
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_PROJECT_PATH_SLUG/$CI_COMMIT_REF_SLUG

stages:
  - build
  - test
  - publish

.template: &job_definition
  only:
    - /^(feature-.*|hotfix-.*|master|release-.*)$/
  tags:
    - linux-2.0

build:
  <<: *job_definition
  script:
    - npm set registry 'http://npmregistry:4873'
    - npm ci
    - npm run postinstall
    - npm run build-index
  stage: build

.after_build_template: &after_build_definition
  <<: *job_definition
  variables:
    GIT_STRATEGY: none

lint:
  <<: *after_build_definition
  stage: test
  only:
    - /^(feature-.*|hotfix-.*|master|release-.*)$/
  script:
    - npm run lint

audit:
  <<: *after_build_definition
  stage: test
  only:
    - /^(feature-.*|hotfix-.*|master|release-.*)$/
  script:
    - npm audit --production --audit-level=low

tests:
  <<: *after_build_definition
  stage: test
  only:
    - /^(feature-.*|hotfix-.*|master|release-.*)$/
  script:
    - npm run coverage:gitlab
  coverage: '/^Statements\s*:\s*([^%]+)/'
  artifacts:
    reports:
      junit: test-results.xml

publish:
  <<: *after_build_definition
  stage: publish
  only:
    variables:
      - $PUBLISH
    refs:
      - /^(master|release-v.*)$/
  script:
    - LEVEL=$([ $CI_COMMIT_REF_NAME == "master" ] && echo "prerelease" || echo "patch")
    - npm version $LEVEL -m "%s [skip-ci]"
    - TAG=`git describe --abbrev=0`
    - git push git@gitlab:vcsuite/npm/vcmap/core.git $TAG
    - git push git@gitlab:vcsuite/npm/vcmap/core.git HEAD:$CI_COMMIT_REF_NAME
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - npm publish
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_RUNNER_KEY" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan gitlab >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - git config user.name "Gitlab Runner"
    - git config user.email "gitlab-runner@vc.systems"
