.vcs_pipeline_version: '1.0'
default:
  image: gitlab.virtualcitysystems.de:5050/vcsuite/devops/gitlabrunner/node:20-bookworm

variables:
  GIT_CLONE_PATH: $CI_BUILDS_DIR/$CI_PROJECT_PATH_SLUG/$CI_COMMIT_REF_SLUG

stages:
  - build
  - test
  - publish
  - docs

.branch_restriction: &branch_restriction
  only:
    - /^(feature-.*|hotfix-.*|main|release-.*)$/

.template: &job_definition
  <<: *branch_restriction
  tags:
    - linux-2.0
  before_script:
    - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/".insteadOf "ssh://git@gitlab.virtualcitysystems.de/"
    - git config --global user.email "gitlab-ci@virtualcitysystems.de"
    - git config --global user.name "Gitlab CI"

build:
  <<: *job_definition
  script:
    - npm set registry 'http://npmregistry:4873'
    - npm ci
    - npm run postinstall
  stage: build

.after_build_template: &after_build_definition
  <<: *job_definition
  variables:
    GIT_STRATEGY: none

lint:
  <<: *after_build_definition
  stage: test
  script:
    - npm run lint

type-check:
  <<: *after_build_definition
  stage: test
  script:
    - npm run type-check

circular-check:
  <<: *after_build_definition
  stage: test
  script:
    - npm run circular-check

audit:
  <<: *after_build_definition
  stage: test
  script:
    - npm audit --production --audit-level=low --registry 'http://npmregistry:4873'

tests:
  <<: *after_build_definition
  stage: test
  script:
    - npm run coverage:gitlab
  coverage: '/^Statements\s*:\s*([^%]+)/'
  artifacts:
    reports:
      junit: test-results.xml

publish:
  <<: *after_build_definition
  stage: publish
  only:
    variables:
      - $PUBLISH
    refs:
      - /^(main|release-v.*)$/
  script:
    - LEVEL=$([ $CI_COMMIT_REF_NAME == "main" ] && echo "prerelease" || echo "patch")
    - npm version $LEVEL -m "%s [skip-ci]"
    - TAG=`git describe --abbrev=0`
    - git push https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/"$CI_PROJECT_PATH".git $TAG
    - git push https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.virtualcitysystems.de/"$CI_PROJECT_PATH".git HEAD:$CI_COMMIT_REF_NAME
    - npm config set '//registry.npmjs.org/:_authToken' "${NPM_TOKEN}"
    - NPM_TAG=$([ $CI_COMMIT_REF_NAME == "main" ] && echo "dev" || echo "latest")
    - npm publish --tag $NPM_TAG

deployDocs:
  <<: *after_build_definition
  stage: docs
  only:
    variables:
      - $PUBLISH
    refs:
      - /^(main|release-v.*)$/
  script:
    - npm run build-docs
    - npm i -D @vcsuite/publishtox --registry http://npmregistry:4873
    - VERSION=$(node -pe "const version = require('./package.json').version; /\d*\.\d*/.exec(version)[0]")
    - echo "Uploading documentation to /lib/core/${VERSION}/docs"
    - node_modules/.bin/publishToX sftp --prefix /map/virtualcitymap.de/lib/core/ hostingsftp.virtualcitypublisher.de --cores 4 -s ./docs -d "${VERSION}/docs/"
