{
  "extends": ["@vcsuite/eslint-config/mocha"],
  "rules": {
    "import/extensions": ["error", "always"]
  },
  "globals": {
    "expect": "readonly",
    "sinon": "readonly",
    "createCanvas": "readonly"
  }
}
