{
  "extends": ["@vcsuite/eslint-config/mocha"],
  "rules": {
    "import/extensions": ["error", "always"],
    "import/no-unresolved": "off"
  },
  "globals": {
    "expect": "readonly",
    "sinon": "readonly",
    "createCanvas": "readonly"
  }
}
